src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="f46f2762-3ed4-46d3-bf04-9a6fa109b9a3" />
	<flow name="sampleFlow" doc:id="c7826098-f6be-4a55-90be-20aec806baf9" >
		<http:listener doc:name="Listener" doc:id="3a60fa20-5e83-467a-bd78-cb30b56aedd9" config-ref="HTTP_Listener_config" path="sample"/>
		<os:store doc:name="Store" doc:id="5f203712-c43f-4fff-9281-9501509eb8cf" key="lookupData" objectStore="Object_store">
			<os:value ><![CDATA[#["welcome to Object store"]]]></os:value>
		</os:store>
	</flow>
</mule>
